<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>할일 수정 폼</h2>
    </div>

    <form action="todo.html" th:action method="post">
        <div>
            <label for="id">할일 ID</label>
            <input type="text" id="id" name="id" class="form-control" value="1" th:value="${todo.id}" readonly>
        </div>
        <div>
            <label for="title">타이틀</label>
            <input type="text" id="title" name="title" class="form-control" th:value="${todo.title}" value="상품A">
        </div>
        <div>
            <label for="description">설명</label>
            <input type="text" id="description" name="description" class="form-control" th:value="${todo.description}" value="10000">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='item.html'"
                        th:onclick="|location.href='@{/todos/{todoId}(todoId=${todo.id})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>